<div class="jumbotron">
    <h1>data.geonorge.no</h1>
    <p class="lead">Løser ID referanser for kjente navnerom</p>
    <p>Navnerom <a href="https://register.dev.geonorge.no/register/navnerom">register</a></p>
</div>
<div class="row">
    
</div>
