

<div class="row">


    <h1>data.geonorge.no</h1>
    <p class="lead">Løser ID referanser for kjente navnerom</p>
    <p>Navnerom <a href="https://register.dev.geonorge.no/register/navnerom">register</a></p>

    <br/>
    <h2 style="font-size:25px">Lovlige utforminger</h2>
    <table class="table-responsive table-striped">
        
        <tr>
            <td>
                so/{namepace}/{localId}
            </td>
        </tr>
        <tr>
            <td>
                so/{namepace}/{localId}/{versionId}
            </td>
        </tr>
        <tr>
            <td>
                so/{namepace}/{theme}/{class}/{localId}/{versionId}
            </td>
        </tr>

    </table>
</div>
