

<div class="row">


    <h1>data.geonorge.no</h1>
    <p class="lead" style="font-size:18px">Løser ID referanser for kjente navnerom i <a href="https://register.dev.geonorge.no/register/navnerom">navnerom registeret</a></p>

    <br/>
    <h2 style="font-size:25px">Lovlige utforminger av urler</h2>
    <table class="table-responsive table-striped">
        
        <tr>
            <td>
                http://data.geonorge.no/so/{namepace}/{localId}
            </td>
        </tr>
        <tr>
            <td>
                http://data.geonorge.no/so/{namepace}/{localId}/{versionId}
            </td>
        </tr>
        <tr>
            <td>
                http://data.geonorge.no/so/{namepace}/{theme}/{class}/{localId}/{versionId}
            </td>
        </tr>

    </table>
</div>
